$font-color: #3c4857;;
$main-font: Arial;
$back-color: #0c69c9;

@include font-face(roboto, regular, normal);
@include font-face(roboto, bold, bold);
@include font-face(rotonda, bold, bold);
@import "normalize";

html {
  box-sizing: border-box;
}

*, *::before, *::after { box-sizing: inherit; }

a {
  text-decoration: none
}

body {
  margin: 0;
  font-family: $main-font, sans-serif;
  font-weight: normal;
  color: $font-color;
  background: $back-color;
}

img {
  max-width: 100%
}
