$font-color: #111;
$main-font: pf-highway-sans-pro;
$back-color: #fff;

@include font-face($main-font, regular, normal);
@include font-face(pragmatica, regular, normal);
@import "normalize";

* {
  box-sizing: border-box;
}

html {
  @include media('tablet-small') {
    font-size: 20px;
  }
}

body {
  font-family: $main-font, sans-serif;
  font-weight: normal;
  color: $font-color;
  background: $back-color;
}

h1,
p {
  margin: 0;
}

h1 {
  font-weight: normal;
}

img {
  vertical-align: bottom;
}

button {
  outline: none;
  margin: 0;
  border: 0;
}