.nav__check {
  display: none;

  &:checked ~ {
    .nav {
      align-items: flex-start;
      &__list {
        height: 100%;
        align-self: flex-start;
        .nav__item {
          margin-bottom: 20px;
        }
      }
      &__btn {
        .nav__icon {
          background: transparent;

          &::before,
          &::after {
            top: 0;
          }

          &::after {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
          }

          &::before {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
        }
      }
    }
  }
}
