.nav__check {
  display: none;

  &:checked ~ {

    .nav {
      &__box {
        height: 100%;
        transition-delay: 0s;
      }

      &__btn {
        .nav__icon {
          background: transparent;

          &::before,
          &::after {
            top: 0;
          }

          &::after {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
          }

          &::before {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
        }
      }
    }
  }
}
