$border-color: #e0e6ed;
$back-color: transparent;
$height: 2px;
.btn-cross {
  border: 0;
  background-color: $back-color;
  position: relative;
  width: 18px;
  height: 18px;
  &::before, &::after {
    width: 100%;
    height: $height;
    position: absolute;
    content: '';
    border-radius: $height;
    background-color: $border-color;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
