$pseudo-back-color: #e0e6ed;
$back-color: transparent;
$height: 2px;
.btn-stick {
  background-color: $back-color;
  position: relative;
  &::before, &::after {
    width: 100%;
    height: $height;
    position: absolute;
    content: '';
    border-radius: $height;
    background-color: $pseudo-back-color;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
  }
}
