$pseudo-width: 59px;

.gradient {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: $pseudo-width;
    height: 100%;
    background-image: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0.49) 78%, rgba(255, 255, 255, 0) 100%);
    right: 0;
  }
}
