$back-color: #00bf5a;

.nav__box {
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 70px;
  left: 0;
  right: 0;
  height: 0;
  opacity: 1;
  transition: .5s;
  transition-delay: .2s;
  overflow: hidden;
  background-color: $back-color;
}
